<div  class="p-3 mb-2 bg-primary text-white bg-opacity-50">
  <div class="row">
    <div class="col-6" >
        <div class="p-3 mb-2 bg-light text-dark ">
            <div><h2>POKEMON</h2></div>
            <hr>
          <div class="container" >
            <div class="row">
              <div id="element" class="col-4" *ngFor="let pokemon of pokemonService.pokemon" >
                <div class="card">
                    <img src="{{ pokemon.imagen }}" class="img-fluid"/>
                    <h5 class="card-body"><span class="text-dark">{{ pokemon.nombre }}</span></h5>
                        <button type="button" style="margin: 15px;" (click)="ver(pokemon)"  class="btn btn-primary" data-bs-toggle="card" data-bs-target="#exampleModal">
                            Ver Detalles
                          </button>
            </div>
            <hr>
          </div>
          <hr>
        </div>
      </div>
    </div>
</div>

<div class="col-6">
  

        
        <app-mainpage></app-mainpage>
      </div>
    </div>

</div>



